# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
fastapi[all]
uvicorn[standard]
gunicorn

asyncpg
sqlalchemy-cockroachdb

aiohttp
requests

sqlalchemy
sqlalchemy_utils
pgvector

pydantic
starlette
strawberry-graphql
aiodataloader
aiosqlite
pyjwt[crypto]
python-jose

nicegui
fastmcp
openai

pyinstrument
prometheus_client
# https://github.com/hrbolek/uoishelpers/archive/refs/heads/main.zip

azure-identity 
azure-keyvault-secrets

mcpo
mcp-server-time
arxiv-mcp-server